<script setup lang="ts" name="{{ properCase componentName }}">
// const { proxy } = getCurrentInstance()
// const router = useRouter()
// const route = useRoute()
</script>

<template>
  <div>
    <h1>{{upperCase name}} 页面</h1>
  </div>
</template>

<style lang="less" scoped>
@import './index.less';
</style>
